@use "../../../breakpoints";

.slider {
  width: 100%;
  padding: 1rem 12px !important;
  display: flex;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .sliderContainer {
    display: flex;
    gap: 1em;
    animation: spin 0s infinite linear;
    padding-right: 1em;

    .card {
      position: relative;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      height: auto;
      align-items: center;
      justify-content: center;

      .imageWrapper {
        position: relative;
        margin-bottom: 5px;
        width: 250px;
        height: 300px;
        flex-shrink: 0;
        overflow: hidden;

        .print {
          border-radius: 16px;
          object-fit: contain;
          max-width: 300px;
          max-height: 300px;
        }
      }

      .text {
        position: relative;
        padding: 1.25rem;
        background: #25d365;
        color: var(--dark-color);
        border-radius: 16px;
        font-size: clamp(.75rem, 2vw, .9rem);

        &::after {
          content: "";
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translateX(-50%);

          border-width: 0 20px 20px 20px;
          border-style: solid;
          border-color: transparent transparent #25d366 transparent;
        }
      }
    }
  }

  @keyframes spin {
    from {
      tranlate: 0;
    }

    to {
      translate: -100%;
    }
  }

  @include breakpoints.respond-to("md") {
    .card {
      .imageWrapper {
        .print {
          width: auto;
          max-height: 300px;
        }
      }
    }
  }
}