@use "../../breakpoints";

.struggles {
  width: 100%;
  background: var(--light-color);
  color: var(--dark-color);
  display: flex;
  justify-content: center;

  .sectionContent {
    width: 100%;
    max-width: 1200px;
    padding: .0 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: clamp(1.5rem, 2.5vw, 2rem);
      text-align: center;
      margin-bottom: 1rem;

      .emphasis {
        color: var(--primary-color);
      }
    }

    .description {
      font-size: clamp(1rem, 1vw, 2rem);
      line-height: 1.6;
      align-self: flex-start;
      text-align: justify;
      margin-bottom: 1rem;
    }

    .cardGrid {
      display: grid;
      grid-template-columns: repeat(2, minmax(250px, 1fr));
      gap: 20px;

      .cardItem {
        list-style: none;
        display: grid;

        .card {
          display: grid;
          grid-template-columns: auto 1fr;
          gap: 32px;
          align-items: center;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          padding: 30px;
          border-radius: 12px;
          transition:
            transform .3s ease,
            border-color .3 ease;

          .icon {
            &.red {
              color: #ff3030;
            }

            &.orange {
              color: #fa6400;
            }

            &.blue {
              color: #003c8b;
            }

            &.yellow {
              color: #cabd00;
            }
          }

          .cardContent {
            text-align: left;
          }
        }
      }
    }
  }

  @include breakpoints.respond-to("md") {
    padding: 1rem;

    .sectionContent {
      padding: 0 1rem 1rem;

      .cardGrid {
        grid-template-columns: 1fr;

        .card {
          display: grid;
          grid-template-columns: auto 1fr;
          gap: 16px;
          align-items: center;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          padding: 20px;
          border-radius: 12px;
          transition:
            transform .3s ease,
            border-color .3 ease;

          .icon {
            &.red {
              color: #ff3030;
            }

            &.orange {
              color: #fa6400;
            }

            &.blue {
              color: #003c8b;
            }

            &.yellow {
              color: #cabd00;
            }
          }

          .cardContent {
            text-align: left;

            h3 {
              font-size: 16px;
            }

            p {
              font-size: 12px
            }
          }
        }
      }
    }
  }
}